<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="assets\images\wallet-home.svg" width="650px" height="350px">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top: 20%; font-family: roboto; color: #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                No need to carry large sum of money into your pocket when you have your cashify wallet.
                Use anywhere and anytime, always hasslefree.
            </h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-md-6">
            <img src="assets\images\folder.svg" width="650px" height="350px">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top: 20%; font-family: roboto; color:  #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                All the info regarding the transactions made is available in single page.
                So, you can enjoy and be carefree about the spendings.
            </h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-md-6">
            <img src="assets\images\netflix.svg" width="650px" height="350px">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top: 20%; font-family: roboto; color:  #303F9F; text-shadow: 1px 1px solid black; font-weight: bold;">
                Get extra &#x20B9;250 off on your first payment at netflix.
                Offers on other OnDemand Streaming Sites are coming soon.
            </h2>
        </div>
    </div>  
</div>